section.first_screen
    .container
        .first_screen_container(style="background-image:url("+dir+"main_image_forest.jpg)")
            .first_screen_content
                h1 Больше, чем просто лес
                .sub_title Производитель пиломатериалов LES-INVEST: мы выходим на новый уровень
                a.btn_primary(href="#") Наша продукция



-var serv=['Заготавливаем','Вывозим','Распиливаем','Перерабатываем'];
-var serv_desc=['Применяем в работе скандинавский способ заготовки леса. В его основе — полная автоматизация всех процессов. Заготовка сырья производится экологически безвредным сортиментным методом. На всех участках работает мощная лесозаготовительная техника. Использование современных машин позволяет повысить эффективность, снизить себестоимость производственных процессов, а также сделать работу операторов и водителей безопасной и комфортной.','Автотранспортное подразделение — часть единой технологической цепочки в заготовке древесины. Приоритет в работе — полностью исключить потерю времени и простой техники на всех этапах. Минимальная трелёвка леса, хорошо спланированные погрузочные площадки, современный терминал сортировки и отгрузки, а также замотивированный на быструю и качественную работу персонал позволяют всем процессам происходить быстро и слаженно.','У нас  современные лесопильные и деревообрабатывающие производства, размещенные на территории Республики Коми на производственных площадках, общая площадь которых составляет около 10 гектаров. Наш комплекс лесопиления и деревообработки осуществляет распилку и переработку круглых лесоматериалов поступающих от собственных лесозаготовительных подразделений.','Мы вышли на ежегодные объемы стопроцентной переработки древесины в 120 тыс. м3, заготавливаемой в Республике Коми. Наша основная миссия: от заготовки леса до готовой продукции — стопроцентная переработка леса и нулевая утилизация продукции на полигоны ТБО. ']
section.main_services
    .container
        .title Что делаем?

        .main_services_list
            for ms_item , index in serv
                -var count=index+1
                .item
                    .main_services_item
                        .img(style="background-image:url("+dir+"serv/"+count+".jpg)")
                        .h1.main_services_title=ms_item
                        .main_services_desc=serv_desc[index]
                        span.serv_btn





-var catalog=['Доска обрезная','Евровагонка','Вагонка Штиль','Вагонка Soft-Line','Имитация бруса','Доска пола','Топливные гранулы'];
section.main_catalog
    .container
        .main_catalog_list
            for cat_item, index in catalog
                -var count=index+1
                .main_catalog_item
                    .img(style="background-image:url("+dir+"catalog/"+count+".png)")
                    .main_catalog_item_content
                        -var prev=index-1
                        -var next=index+1
                        .center
                            .d_flex
                                .title.active=cat_item
                                    .prev=catalog[prev]
                                    .next=catalog[next]
                            a.btn_primary.read_more(href="#") Подробнее




section.catalog.d_hide
    .container
        .catalog_list
            for c_item, index in catalog
                -var count=index+1
                .item
                    a.catalog_item(href="#")
                        .img(style="background-image:url("+dir+"catalog1/"+count+".png)")
                        .catalog_item_content
                            span.read_more Побробнее
                            .title=c_item


-var hd=['На своей сырьевой базе','На современном оборудовании','С расчётом на будущее','Следя за качеством'];
-var hd_desc=['Наличие собственной, качественной сырьевой базы на арендованных лесных участках Республики Коми, позволяющей использовать в производстве только стабильный породный состав для изготовления готовой продукции.','Наши производственные мощности позволяют ежегодно производить до 120 тыс. м3 экспортного пиломатериала. У нас собственная производственная площадка площадью 10 гектаров, а также склады сырья, линия по сортировке и накоплению пиловочника.','Современные технологические решения и передовые системы контроля качества позволяют нам быть ориентированными на клиентов, о чем свидетельствует 11-летний опыт работы на рынке с иностранными партнерами и репутация надёжного поставщика.','Процесс сушки древесины четко контролируется. Создаём максимально подходящие условия для этого. Используем метод естественной сушки. Это требует минимального количества материальных ресурсов — настил и укрытие для пиломатериалов, а также место для их долгосрочного содержания.'];
section.how_doing
    .container
        .h1.d_hide Как делаем?
        .how_doing_slider
            for hd_item, index in hd
                -var count=index+1
                .item
                    .how_doing_item
                        .txt_block
                            span Как делаем?
                            .h1=hd_item
                            .desc=hd_desc[index]
                        .img_block(style="background-image:url("+dir+"hd/"+count+".png)")




include ../kp

