footer
    .container
        .footer_row
            .logo
                a(href="#")
                    img(src=dir + "logo.svg")

            .main_menu
                ul.nav
                    for m_item, index in main_menu
                        li
                            a(href="#")=m_item

        .footer_contacts
            .item
                picture
                    img(src=dir+"email.svg")
                .txt <span class="gradient">E-mail:</span> <a href="mailto:info@vigiltrading.com">info@vigiltrading.com</a>
            .item
                picture
                    img(src=dir + "phone.svg")
                .txt <span class="gradient">Phone:</span> <a href="tel:+90 530 230 41 22">+90 530 230 41 22</a>
            .item
                picture
                    img(src=dir + "location.svg")
                .txt <span class="gradient">Address:</span> Address: 18 D2, block A, Cagdas Str., Darussafaka, Sariyer, Istanbul, 34457 Turkey


